/* Style sheet for weather display component */

/* Universal settings */
#box {
    background-color: darkgrey;
    color: black;
    text-align: center;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
    resize: both;
    overflow: hidden;
    overflow-wrap: break-word;
}

/* Mobile settings */
@media screen and (max-width: 1080px) {
    #box {
        background-color: indianred;
        width: auto;
        font-size: 100%;
    }

    #header {
        font-size: 500%;
    }

    #maintext {
        font-size: 300%;
    }
}

/* PC settings */
@media screen and (min-width: 1080px) {
    #box {
        width: 300px;
        font-size: 16px;
    }

    #header {
        font-size: 24px;
    }

    #maintext {
        font-size: 16px;
    }
}